---
import PageContainer from "../layouts/PageContainer.astro";
---

<PageContainer>

    <div class="container">
        <h1>Account Removal Request</h1>
        <div class="countdown">3</div>
        <div class="message">
            Please send an email to <a class="email-link" href="mailto:wakazbix@gmail.com">wakazbix@gmail.com</a> to request removal of your account / data.
        </div>
    </div>

    <script>
        function countdown() {
            let counter = 3;
            const countdownElement = document.querySelector('.countdown');

            const interval = setInterval(function () {
                countdownElement.textContent = counter;
                counter--;

                if (counter < 0) {
                    clearInterval(interval);
                    // window.location.href = 'mailto:wakazbix@gmail.com';
                }
            }, 1000);
        }

        countdown();
    </script>
</PageContainer>

<style>
    .container {
        width : 100%;
        height : 100%;
        display : flex;
        flex-direction:column;
        padding : 8rem 0;
        align-items:center;
    }
    .countdown {
        font-size : 8rem;
    }
</style>
