
---
import {AniqueThemeDark, AniqueThemeLight} from "@qinetik/anique";
import {Anique} from "@qinetik/anique";
import {AniqueGlobalStyling} from "@qinetik/anique";

export interface Props {
    initialTheme: string
    title: string
}

const {
    initialTheme,
    title
} = Astro.props

const onBg = Anique.colors.onBg

---

<html class={initialTheme}>
    <head>
        <title>{title}</title>
        <AniqueThemeDark containerCssSelector={".dark"}/>
        <AniqueThemeLight containerCssSelector={".light"}/>
        <AniqueGlobalStyling />
    </head>
    <body>
        <slot/>
    </body>
</html>

<style is:global>

    :root.light {
        color-scheme : light;
    }

    :root.dark {
        color-scheme : dark;
    }

    body {
        margin: 0;
    }

</style>